.notifications {
    background: #F2EFF6;
    box-shadow: 0px -2px 10px rgba(34, 6, 69, 0.1);
}
.notification {
    background: #F2EFF6;
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 8px 10px;
    color: #280653;
    text-align: center;
}